@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format(woff2);
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

.page-header {
  color: #000000;
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 25px, #FFE17F 25px, #FFE17F 100%);
  width: 1160px;
  margin: 0 auto;
}

.navigation {
  width: 1160px;
  padding-top: 5px;
  padding-right: 60px;
  padding-left: 60px;
}

.navigation-logo {
  width: 145px;
  display: block;
  margin-bottom: 30px;
}

.navigation-user-container {
  width: 1040px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

.search-container {
  width: 517px;
  flex-shrink: 0;
}

.search-form {
  display: flex;
}

.navigation-field {
  background-color: #FFE17F;
  border-radius: 50px 0px 0px 50px;
  border: 2px solid #000;
  border-right: 0;
  padding-left: 48px;
}

.search-button {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  width: 160px;
  padding: 10px;
  background-color: #FFE17F;
  border-radius: 0px 50px 50px 0px;
  border: 2px solid #000;
}

.profile-container {
  width: 230px;
  display: flex;
  justify-content: space-between;
}

.tools-container {
  width: 240px;
  display: flex;
  justify-content: space-between;
}

.navigation-user-link {
  padding-left: 25px;
}

.navigation-field {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  width: 359px;
  flex-shrink: 0;
}

.navigation-link {
  letter-spacing: 3.6px;
  display: flex;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

.navigation-list {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  width: 1040px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-item {
  margin-right: 45px;
  width: 127px;
}

.navigation-item:first-child {
  width: 293px;
  margin-right: 276px;
}

.navigation-item:nth-child(4n),
.navigation-item:last-child {
  margin-right: 0;
  flex-grow: 1;
}

.navigation-sublist {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;
  text-transform: none;
  list-style: none;
  display: none;
  flex-wrap: wrap;
  width: 675px;
}

.navigation-sublist .is-active {
  display: flex;
  width: 675px;
  justify-content: space-between;
}

.navigation-subitem {
  width: 210px;
  margin-right: 20px;
}

.list {
  display: grid;
  gap: 19px;
}

.navigation-subitem:last-child {
  margin-right: 0;
}

.navigation-list,
.list,
.navigation-sublist,
.slider,
.slider-pagination-list,
.catalog-list,
.advantages-list,
.advantages-button-list,
.contacts-schedule,
.delivery-list,
.footer-navigation-list,
.footer-social-list,
.breadcrumbs,
.catalog-filter-list,
.product-list,
.pagination {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-user-link,
.navigation-link,
.navigation-sublink,
.profile-exit {
  color: #000000;
  text-decoration: none;
}

/* MAIN */

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

/*  SLIDER */

.gallery-products {
  background: #ffffff;
  background: linear-gradient(to bottom, #FFE17F 0%, #FFE17F 150px, #ffffff 150px, #ffffff 100%);
}

.slider-button-container {
  width: 530px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  position: absolute;
  padding-top: 211px;
}

.slider-button {
  width: 20px;
  height: 60px;
}

.slider-container {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.slider-item {
  display: none;
}

.slider-item-active {
  display: flex;
  justify-content: space-between;
}

.slider-imagion {
  width: 560px;
}

.slider-description {
  width: 560px;
  padding-top: 121px;
  padding-bottom: 26px;
}

.more-detailed {
  display: block;
  width: 210px;
  padding: 10px 5px;
  margin-bottom: 50px;
}

.slider-description h3 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 29px;
}

.slider-description p {
  display: flex;
  margin: 0;
  margin-bottom: 50px;
}

.specification {
  margin: 0;
  display: flex;
}

.specification-item {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 20px;
}

.specification-item dd {
  font-size: 36px;
  margin: 0;
  margin-bottom: 12px;
}

.specification-item dt {
  font-size: 16px;
}

.slider-pagination-list {
  width: 76px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.slider-pagination-item {
  width: 12px;
  height: 12px;
}

/* CATALOG */

.catalog {
  margin: 0;
  margin-bottom: 70px;
}

.catalog-button {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.catalog-list {
  width: 1160px;
  display: flex;
  gap: 40px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.catalog-item {
  width: 160px;
}

.catalog-description {
  font-size: 18px;
  margin: 0;
}

.catalog-container {
  display: flex;
  background-color: #FFE17F;
  width: 160px;
  height: 160px;
  justify-content: center;
  align-items: center;
  order: -1;
  margin-bottom: 32px;
}

/* ADVANTAGES */

.advantages {
  background: #ffffff;
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 102px, #F0F0F0 102px, #F0F0F0 100%);
  width: 100%;
  margin-bottom: 70px;
}

.advantages-delivery {
  background-image: url("../images/delivery.svg");
  background-repeat: no-repeat;
  background-position: 558px 77.5px;
}

.advantages-guarantee {
  background-image: url("../images/guarantee.svg");
  background-repeat: no-repeat;
  background-position: 558px 62px;
}

.advantages-credit {
  background-image: url("../images/credit.svg");
  background-repeat: no-repeat;
  background-position: 573px 65.5px;
}

.advantages-item h3 {
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 34px;
}

.advantages-container {
  width: 1160px;
  display: flex;
  margin: 0 auto;
  padding-bottom: 72px;
}

.advantages-button-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 280px;
  margin-right: 116px;
}

.advantages-button-item {
  width: 280px;
  margin-bottom: 35px;
  border: 0;
}

.advantages-button-item:last-child {
  margin-bottom: 0;
}

.advantages-button-list {
  padding-top: 64px;
  padding-bottom: 64px;
  border-right: 7px solid #000;
}

.advantages-button {
  border: 0;
  width: 160px;
  padding: 10px 4px;
  background-color: #F0F0F0;
  text-align: center;
}

.advantages-button-active {
  width: 280px;
  background-color: #000000;
  color: #FFE17F;
  padding-right: 120px;
}

.advantages-item {
  display: flex;
  width: 730px;
}

.advantages-description {
  padding-top: 73px;
  width: 500px;
}

.advantages-description p {
  margin: 0;
}

/* DELIVERY */

.delivery-service {
  width: 1160px;
  margin: 0 auto;
}

.delivery-service-button {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #000000;
  background-color: #F0F0F0;
  text-transform: uppercase;
  width: 1160px;
  height: 100px;
  border: none;
  padding: 0;
  letter-spacing: 4px;
  margin-bottom: 70px;
}

/* ABOUT */

.about-contacts {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  align-items: flex-start;
  padding-top: 47px;
  flex-wrap: wrap;
  row-gap: 50px;
}

.about {
  width: 520px;
  margin-right: 108px;
}

.about p {
  margin: 0;
  margin-bottom: 30px;
}

.about h2 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 48px;
}

.delivery-list {
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 30px;
}

.delivery-item {
  padding-bottom: 19px;
  padding-left: 34px;
}

.delivery-item:last-child {
  padding-bottom: 0;
}

.about-button {
  width: 258px;
  padding: 10px 6px;
}

/* CONTACTS */

.contacts {
  width: 532px;
}

.contacts h2 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 48px;
}

.contacts-description {
  margin: 0;
  margin-bottom: 30px;
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-address-text {
  font-style: normal;
  margin: 0;
}

.contacts-number-phone {
  font-style: normal;
  color: #000000;
  background-color: #ffffff;
}

.contacts-address,
.contacts-schedule {
  margin-bottom: 30px;
}

.contacts-button {
  width: 247px;
  padding: 10px 6px;
}

/* NEWSLATTER */

.newslatter {
  background-color: #F0F0F0;
  width: 100%;
  padding-bottom: 56px;
}

.newslatter-form-container {
  width: 1160px;
  padding-top: 64px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 348px 1fr;
  row-gap: 144px;
  column-gap: 252px;
}

.newslatter-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  max-width: 348px;
  margin: 0;
}

.newslatter-description {
  margin: 0;
  padding-top: 10px;
}

.newslatter-form {
  display: flex;
  grid-column: 1 / -1;
}

.newslatter-field {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  width: 545px;
  border: 0;
  background-color: #F0F0F0;
  border-bottom: 3px solid #C4C4C4;
  padding-left: 16px;
}

.newslatter-button {
  font-family: "Raleway", sans-serif;
  background-color: #F0F0F0;
  font-size: 18px;
  padding: 18px 39px;
  border: 3px solid #C4C4C4;
}

.newslatter-form-description {
  max-width: 128px;
  text-align: right;
  margin-left: auto;
}

/* FOOTER */

.page-footer {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #444444;
  display: flex;
  width: 100%;
}

.page-footer-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 62px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo-container {
  display: flex;
  width: 100%;
  margin-bottom: 35px;
}

.footer-contacts {
  width: 239px;
}

.footer-contacts-text {
  margin: 0;
}

.footer-navigation-social-container {
  width: 460px;
}

.footer-navigation {
  margin-bottom: 62px;
}

.footer-navigation-list {
  letter-spacing: 3.6px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 35px;
}

.footer-navigation-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #444444;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-navigation-item {
  width: 130px;
}

.footer-navigation-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-list {
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-number-htmlacademy {
  width: 175px;
}

.footer-number {
  margin-bottom: 63px;
}

.htmlacademy-logo {
  margin-left: 60px;
}

.footer-number-phone {
  color: #FFFFFF;
  background-color: #444444;
}

/* КАТАЛОГ */

.main-inner {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
}

.inner-header {
  width: 1160px;
  margin: 0 auto 34px auto;
  padding-top: 34px;
}

.breadcrumbs-container {
  width: 1080px;
  margin-left: 60px;
  margin-right: 20px;
}

.inner-header-title {
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 15px;
}

.breadcrumbs {
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-image: url("../images/breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: 7px 79px;
}

.breadcrumbs-item {
  padding-right: 36px;
}

.breadcrumbs:last-child {
  padding-right: 0;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.catalog-products {
  background-color: #F0F0F0;
  width: 100%;
}

.catalog-products-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  padding-left: 60px;
}

.filter {
  display: flex;
  flex-direction: column;
  width: 260px;
}

.catalog-right-column {
  width: 840px;
}

.catalog-products-title,
.catalog-products-title-filter {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  margin: 0;
  padding: 0;
}

.catalog-products-title-filter {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 35px;
}

.catalog-products-title {
  display: flex;
  align-items: center;
}

.catalog-filter-group {
  border: none;
  margin-bottom: 35px;
}

.catalog-filter-title {
  font-size: 18px;
  font-weight: 700;
}

.button-show {
  width: 210px;
  padding: 10px 5px;
  background-color: #F0F0F0;
  border: 0;
}

.button-sort-container {
  display: flex;
  width: 60px;
  background-color: #FFFFFF;
}

.button-sort {
  display: block;
  width: 30px;
  height: 30px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.sorting-container {
  width: 840px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 40px;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 140px;
  border: 0;
}

.product-container {
  background-color: #FFFFFF;
  padding: 70px 40px 78px 40px;
}

.product-card-link {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.product-card-title-container {
  margin-top: 32px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.product-card-title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  width: 226px;
}

.product-card-price {
  font-size: 18px;
  color: #444444;
  background-color: #FFFFFF;
  font-weight: 400;
  align-items: start;
}

.product-list {
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: 360px;
  margin-bottom: 44px;
}

.product-card:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}

.button-show-product {
  display: block;
  letter-spacing: 3.6px;
  width: 210px;
  padding: 10px 5px;
  margin-left: 75px;
  margin-right: 75px;
}

.button-show-more {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  color: #000000;
  background-color: #FFFFFF;
  width: 760px;
  padding: 18px 39px;
  border: 3px solid #E5E5E5;
  margin-bottom: 44px;
}

.pagination-container {
  background-color: #F0F0F0;
  display: flex;
  justify-content: space-between;
  width: 760px;
}

.pagination {
  display: flex;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: center;
  align-items: center;
}

.pagination-link {
  display: block;
  color: #444444;
  background-color: #F0F0F0;
  text-align: center;
  text-decoration: none;
  opacity: 0.3;
  padding: 10px 15px;
}

.pagination-item {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.pagination-prev {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #444444;
  background-color: #F0F0F0;
  text-transform: uppercase;
  opacity: 0.3;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.pagination-next {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #000000;
  background-color: #F0F0F0;
  text-transform: uppercase;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding: 25px;
  opacity: 1;
}

.pagination-current {
  opacity: 0.6;
}
